* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*PARTE HEADER*/

.header-bg {
    background-color: black;
    color: white;
}

/*PARTE MAIN*/

.bg-main1 {
    background-color: rgb(101, 155, 155);
}

.bg-main2 {
    background-color: beige;
}

#portofoliopic {
    width: 400px;
    height: auto;
}