* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row {
    max-width: 100%;
}

/*PARTE HEADER*/

.header-bg {
    background-color: black;
    color: white;
}

/*PARTE MAIN*/

.bg-main1 {
    background-color: rgb(101, 155, 155);
}

.bg-main2 {
    background-color: beige;
}

.bg-form {
    background-color: rgb(233, 194, 194);
}

#portofoliopic {
    width: 20%;
    height: auto;
}

/*PARTE CARDS*/

.card-body-1 {
    background-color: burlywood;
    max-width: 100%;
}

.card {
    margin-bottom: 4rem;
    border: 0;
    box-shadow: 0px 0px 8px 0.3px rgba(0, 0, 0, 1);

  }

  .card-img-top {

  }

  .btn {
  }


  /*PARTE FOOTER*/

.bg-footer {
    background-color: rgb(23, 28, 58);
}